{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 250,
	"svelteBracketNewLine": false,
	"parser": "svelte",
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss"
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"tailwindConfig": "./tailwind.config.js"
}